#nsml: junsukchoe/backbone:cu92_torch171
imageio
ninja
thop
addict
future
lmdb
lpips
numpy>=1.17
Pillow
PyWavelets
pytorch-wavelet
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7
torchvision
tqdm
yapf
